@model int

<span id="cartBadge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" 
      style="font-size: 0.6rem; padding: 2px 5px; @(Model > 0 ? "display: inline;" : "display: none;")">@Model</span>

